<footer class="footer">
    <div class="footer__inner">
        <div class="nav">
            <% data.nav.structure.forEach(page => { %>
                <a class="nav__item" href="<%= page.href %>">
                    <p><%= page.name[lang] %></p>
                </a>
            <% }); %>
        </div>
        <div class="footer__links">
            <% data.contacts.forEach(contact => { %>
                <% if (data.footer_links.includes(contact.type)) { %> 
                    <div class="icon__container">
                        <div class="icon">
                            <a class="icon__inner" href="<%= contact.href %>">
                                <%- include(contact.svg); -%>
                            </a>
                        </div>
                    </div>
                <% } %> 
            <% }); %>
        </div>
        <div class="copyright">
            <p class="copyright__inner">&copy; Mikolaj Cymcyk</p>
        </div>
    </div>
</footer>
