/* stylelint-disable max-nesting-depth */
/* stylelint-disable selector-class-pattern */
/* stylelint-disable declaration-property-value-disallowed-list */
@import '../vars';

@media print {
  .cv__inner {
    padding: 0 !important;
  }

  .cv__card {
    border-radius: 0 !important;
  }

  .pdf {
    display: none !important;
  }
}

h1,
h2,
h3,
h4 {
  font-weight: $--theme_font-weight-2;
  margin: 0;
}

.cv {
  background-color: $--theme_color-2;
  font-family: $--theme_font-family-1;

  &__inner {
    margin: auto;
    max-width: $--theme_width-1;
    min-width: $--theme_width-1;
    padding: $--theme_gutter-5 0;
    position: relative;
  }

  &__card {
    background-color: $--theme_color-3;
    border-radius: $--theme_gutter-0;
    box-shadow: $--theme_shadow;
    padding: $--theme_gutter-5;
  }
}

.pdf {
  background-color: inherit;
  border: none;
  color: $--theme_color-3;
  font-size: $--theme_font-size-3;
  left: $--theme_gutter-5;
  padding: 0;
  position: absolute;
  top: 0;
  transform: translate(0, 50%);
  background: none;

  &:hover {
    cursor: pointer;
  }
}

.reference {
  &__container {
    margin-top: $--theme_gutter-5;
    padding: 0 $--theme_gutter-6;
  }

  &__inner {
    display: flex;
    padding-bottom: $--theme_gutter-1;
  }

  &__name,
  &__place,
  &__contact {
    flex-basis: calc(100% / 3);
    font-size: $--theme_font-size-3;
  }

  &__name {
    font-weight: bold;
  }
}
