@import 'vars';

h1, h2, h3 {
    margin: 0;
    font-weight: 500;
}

.cv {
    background-color: grey;
    color: black;
    font-family: $--cv_font-family;

    &__inner {
        max-width: 1000px;
        min-width: 1000px;
        margin: auto;
    }

    &__card {
        margin: auto;
        padding: 40px 0;
        
        &__inner {
            padding: 40px;
            background-color: white;
            box-shadow: 10px 10px 20px 10px rgba(0, 0, 0, 0.1);
        }
    }
}

.top {
    margin-bottom: 40px;
    &__titles {
        display: flex;
        flex-direction: column;
    }
    &__title {
        display: flex;
        justify-content: center;
        font-weight: 500;
        padding-top: 20px;
        padding-bottom: 10px;
        margin: 0;
    }
    &__subtitle {
        display: flex;
        justify-content: center;
        text-align: center;
        font-weight: 400;
        margin: 0 100px;
        font-size: 20px;
    }
    &__contact {
        display: flex;
        justify-content: space-around;
    }
    &__about {
        margin: 40px;
    }
}

.about {
    &__image {
        width: 200px;
        height: 200px;
        border-radius: 100%;
    }
}

.contact {
    &__icon {
        display: flex;
        justify-content: center;
    }
    &__inner {
        transition: 0.25s;
        svg {
            fill: black;
            width: 35px;
            height: 35px;
        }
        &:hover {
            svg {
                fill: tomato;
            }
        }

    }
    &__text {
        font-size: 16px;
        transition: 0.25s;
        &:hover {
            color: tomato;
        }
    }
}

.center {
    padding: 0 25px;

    &__item {

    }
}

.center__item {
    &__header {
        font-size: 26px;
        font-weight: 400;
    }
    &__item {

    }
    &__title {
        display: flex;
        justify-content: space-between;
    }
    &__place {
        font-weight: 400;
        font-size: 24px;
    }
    &__time {
        &.hasimg {
            width: 100px;
            text-align: center;
        }
    }
    &__content {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    &__inner {
        display: flex;
        flex-direction: column;
        &.hasimg {
            padding-right: 55px;
        }
    }
    &__subtitle {

    }
    &__description {
        text-align: justify;
    }
    &__image {
        img {
            width: 80px;
            height: 80px;
        }
        padding: 0 10px;
    }
}

.courses {
    &__table {
        padding-top: 30px;
        width: 100%;
    }

    &__row {
        text-align: left;
        font-size: 18px;
        font-weight: 300;
    }

    &__semester__inner {
        font-size: 20px;
        font-weight: 500;
    }

    &__credits {
        text-align: center;
    }

    &__head::after {
        content: '';
        display: block;
        height: 10px;
    }

    &__tbody::after {
        content: '';
        display: block;
        height: 25px;
    }

    &__header {
        font-size: 28px;
        font-weight: 500;
    }
    
    &__header:last-child {
        text-align: center;
    }

    &__header:nth-last-child(2) {
        text-align: center;
    }

    td {
        padding: 5px 0;
    }

    &__finished {
        text-align: center;
    }
}
