@import './vars';

.error {
    font-family: $--theme_font-family;
    margin: auto;
    max-width: $--max_width;
    position: relative;
    height: 100%;

    &__parent {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
    }
    
    &__container {
        background-color: $--theme_color-secondary;
        height: $--error_height;
    }

    &__message {
        margin: 0;
        padding: $--error_message-padding;
        text-align: center;
        color: $--theme_color-font-primary;
        font-size: $--error_message-font-size;
    }
}
