@import './vars';

.footer {
  background-color: $--footer_background-color;
  color: $--footer_font-color;
  font-family: $--theme_margin-font;

  &__inner {
    margin: auto;
    max-width: $--max_width;
  }

  &__links {
    display: flex;
    height: $--footer_icon-container-height;
    justify-content: center;
    padding-bottom: $--footer_links-padding;
    padding-top: $--footer_links-padding;
  }

  svg:hover {
    fill: $--footer_font-color-hover;
  }
}

.icon {
  &__svg {
    fill: $--footer_icon-color;
    height: $--footer_icon-size;
    padding: $--footer_icon-padding;
    transition: $--header_animation-time;
    width: $--footer_icon-size;
  }
}

.copyright {
  display: flex;
  justify-content: space-around;
  padding-bottom: $--footer_padding;

  p {
    font-size: $--footer_copyright-font-size;
  }
}

.nav {
  display: flex;
  justify-content: center;
  padding-top: $--footer_padding;

  &__item {
    color: $--footer_font-color;
    font-size: $--footer_nav-font-size;
    padding: 0 $--footer_nav-padding;
    transition: $--header_animation-time;
  }

  &__item:hover {
    color: $--footer_font-color-hover;
  }
}
