@import 'vars';

.preload * {
  transition: none !important;
}

body {
  margin: 0;
  min-width: fit-content;
  position: relative;
}

html {
  position: relative;
}

a {
  color: $--theme_color-0;
  text-decoration: none;
}

p {
  margin: 0;
}

.content {
  background-color: $--theme_color-2;
  overflow: hidden;

  &__container {
    margin: 0 auto;
    margin-bottom: $--theme_gutter-6;
    max-width: $--theme_width-1;
    min-width: $--theme_width-1;
    padding-top: calc(#{$--theme_gutter-5} + #{$--theme_gutter-3});
  }

  &__inner {
    background-color: $--theme_color-3;
    border-radius: $--theme_gutter-0;
    box-shadow: $--theme_shadow;
    padding: $--theme_gutter-5;
  }
}
