@import 'vars';

@media print {
  @page {
    margin: 0;
  }

  body {
    -webkit-print-color-adjust: exact !important;
  }

  .content__container {
    padding: 0 !important;
  }

  .content__inner {
    border-radius: 0 !important;
  }
}

.preload * {
  transition: none !important;
}

body {
  margin: 0;
  min-width: fit-content;
  position: relative;
}

html {
  position: relative;
}

a {
  color: $--theme_color-0;
  text-decoration: none;
}

p {
  margin: 0;
}

.content {
  background-color: $--theme_color-2;
  overflow: hidden;

  &__container {
    margin: 0 auto;
    max-width: $--theme_width-1;
    min-width: $--theme_width-1;
    padding: $--theme_gutter-5 0;
  }

  &__inner {
    background-color: $--theme_color-3;
    border-radius: $--theme_gutter-0;
    box-shadow: $--theme_shadow;
    padding: $--theme_gutter-5;
  }
}
