@import 'vars';

.preload * {
  transition: none !important;
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

body {
  margin: 0;
  min-width: fit-content;
  position: relative;
}

html {
  position: relative;
}

a {
  color: #000;
  text-decoration: none;
}

p {
  margin: 0;
}

.content {
  background-color: $--theme_background-color;
  overflow: hidden;

  &__container {
    min-width: $--theme_page-width;
    max-width: $--theme_page-width;
    margin: 0 auto;
    margin-bottom: $--theme_gutter-6;
    padding-top: calc(#{$--theme_gutter-5} + #{$--theme_gutter-3});
  }

  &__inner {
    padding: $--theme_gutter-5;
    box-shadow: $--theme_shadow;
    background-color: $--theme_paper-color;
    border-radius: $--theme_gutter-0;
  }
}