/* stylelint-disable scss/dollar-variable-pattern */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');

$--max_width: 1200px;

$--theme_font-size-0: 14px;
$--theme_font-size-1: 16px;
$--theme_font-size-2: 18px;
$--theme_font-size-3: 20px;
$--theme_font-size-4: 24px;
$--theme_font-size-5: 26px;
$--theme_font-size-6: 32px;
$--theme_font-size-7: 42px;
$--theme_gutter-0: 5px;
$--theme_gutter-1: 10px;
$--theme_gutter-2: 15px;
$--theme_gutter-3: 20px;
$--theme_gutter-4: 25px;
$--theme_gutter-5: 40px;
$--theme_gutter-6: 50px;
$--theme_img-size-0: 35px;
$--theme_img-size-1: 80px;
$--theme_img-size-2: 120px;
$--theme_img-size-3: 150px;
$--theme_img-size-4: 200px;
$--theme_font-family-0: 'Josefin Sans', sans-serif;
$--theme_font-family-1: 'Ubuntu', sans-serif;
$--theme_font-weight-0: 300;
$--theme_font-weight-1: 400;
$--theme_font-weight-2: 500;

$--theme_color-primary: #333;
$--theme_color-secondary: #555; 
$--theme_color-font-primary: #fff;
$--theme_color-font-secondary: #ff6347;
$--theme_margin-animation-time: 0.25s;
$--theme_background-color: #444;
$--theme_paper-color: #fff;
$--theme_background-text-color: #000;
$--theme_page-width: 1000px;
$--theme_shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.14);

$--header_height: 50px;
$--header_name-letter-spacing: 6px;
$--header_padding-pages: calc((#{$--header_height} - #{$--theme_font-size-2}) / 2);
$--header_padding-home: calc((#{$--header_height} - #{$--theme_font-size-0}) / 2);
$--header_seperator-width: 2px;
$--footer_icon-container-height: calc(#{$--theme_img-size-0} + (#{$--theme_gutter-1} * 2));
$--error_height: calc(
    100% - (
        #{$--header_height} +
        #{$--theme_font-size-2} + 1px +
        #{$--footer_icon-container-height} +
        #{$--theme_font-size-1} +
        (#{$--theme_gutter-2} * 2) +
        (#{$--theme_gutter-6} * 2)
    )
);
$--cv_cv-item-header-gutter: calc(#{$--theme_gutter-4} + #{$--theme_gutter-5});
