/* stylelint-disable scss/dollar-variable-pattern */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

$--max_width: 1200px;

$--offset: 20px;
$--columns: 12;
$--gutter: 20px;
$--gutter-neg-half: calc(-#{$--gutter} / 2);
$--color: hsla(204, 80%, 72%, 0.25);
$--repeating-width: calc(100% / #{$--columns});
$--column-width: calc((100% / #{$--columns}) - #{$--gutter});
$--background-width: calc(100% + #{$--gutter});

/**
 * Theme variables
*/
$--theme_margin-color: #fff;
$--theme_margin-hover-color: #ff6347;
$--theme_margin-background-color: #000;
$--theme_margin-font: 'Josefin Sans', sans-serif;
$--theme_margin-animation-time: 0.25s;

/**
 * Variables for the header fragment.
*/
$--header_height: 50px;
$--header_font-size: 14px;
$--header_font-size-pages: 18px;
$--header_animation-time: $--theme_margin-animation-time;
$--header_font-family: $--theme_margin-font;
$--header_name-letter-spacing: 6px;
$--header_padding-pages: calc((#{$--header_height} - #{$--header_font-size-pages}) / 2);
$--header_padding-home: calc((#{$--header_height} - #{$--header_font-size}) / 2);
$--header_seperator-width: 2px;
$--header_seperator-color: $--theme_margin-color;
$--header_font-color: $--theme_margin-color;
$--header_font-color-hover: $--theme_margin-hover-color;
$--header_background-color: $--theme_margin-background-color;

/**
 * Variables for the footer fragment.
*/
$--footer_icon-number: 4;
$--footer_icon-size: 32px;
$--footer_icon-padding: 10px;
$--footer_icon-container-height: calc(#{$--footer_icon-size} + (#{$--footer_icon-padding} * 2));
$--footer_background-color: $--theme_margin-background-color;
$--footer_font-color: $--theme_margin-color;
$--footer_font-family: $--theme_margin-font;
$--footer_links-padding: 15px;
$--footer_padding: 50px;
$--footer_nav-font-size: 18px;
$--footer_font-color-hover: $--theme_margin-hover-color;
$--footer_nav-padding: 10px;
$--footer_icon-color: $--theme_margin-color;
