@import '../vars';

@media print {
  .footer {
    display: none;
  }
}

.footer {
  background-color: $--theme_color-1;
  box-shadow: $--theme_shadow;
  color: $--theme_color-3;
  font-family: $--theme_font-family-0;

  &__inner {
    margin: auto;
    max-width: $--theme_width-0;
  }

  &__links {
    display: flex;
    height: $--footer_icon-container-height;
    justify-content: center;
    padding-bottom: $--theme_gutter-2;
    padding-top: $--theme_gutter-2;
  }

  svg:hover {
    fill: $--theme_color-4;
  }
}

.icon {
  &__svg {
    fill: $--theme_color-3;
    height: $--theme_img-size-0;
    padding: $--theme_gutter-1;
    transition: $--theme_margin-animation-time;
    width: $--theme_img-size-0;
  }
}

.copyright {
  display: flex;
  justify-content: space-around;
  padding-bottom: $--theme_gutter-6;

  p {
    font-size: $--theme_font-size-1;
  }
}

.nav {
  display: flex;
  justify-content: center;
  padding-top: $--theme_gutter-6;

  &__item {
    color: $--theme_color-3;
    font-size: $--theme_font-size-2;
    padding: 0 $--theme_gutter-1;
    transition: $--theme_margin-animation-time;
  }

  &__item:hover {
    color: $--theme_color-4;
  }
}
