/* stylelint-disable max-nesting-depth */
/* stylelint-disable selector-class-pattern */
@import '../vars';

@media print {
  .header {
    display: none;
  }
}

.header {
  background-color: $--theme_color-1;
  box-shadow: $--theme_shadow;
  font-family: $--theme_font-family-0;
  height: $--header_height;
  position: relative;

  &__nav {
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-height: $--header_height;
    max-width: $--theme_width-0;
    overflow: hidden;
    vertical-align: bottom;

    &__home {
      display: flex;
      font-size: $--theme_font-size-0;
      padding: $--header_padding-home;

      &__inner {
        letter-spacing: $--header_name-letter-spacing;
        text-transform: uppercase;
      }
    }

    &__pages {
      display: flex;
      font-size: $--theme_font-size-2;

      &__page {
        padding: $--header_padding-pages;

        &.header__nav__lang {
          color: $--theme_color-4;

          &:hover {
            color: $--theme_color-3;
          }
        }
      }
    }

    &__seperator {
      background-color: $--theme_color-3;
      height: $--theme_font-size-2;
      margin: $--header_padding-pages 0;
      overflow: hidden;
      padding: 0;
      width: $--header_seperator-width;
    }

    a {
      color: $--theme_color-3;
      transition: $--theme_margin-animation-time;

      &:hover {
        color: $--theme_color-4;
      }
    }
  }
}
