/* stylelint-disable max-nesting-depth */
@import '../vars';

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: $--theme_gutter-5;

  &__container {
    flex-basis: calc(100% / 3);
    padding-bottom: $--theme_gutter-3;
  }

  &__name {
    font-size: $--theme_font-size-4;
    padding-left: calc((100% - (((2 * #{$--theme_gutter-0}) + #{$--theme_gutter-4}) * 5)) / 2);
  }

  &__bubbles {
    display: flex;
    padding-left: calc((100% - (((2 * #{$--theme_gutter-0}) + #{$--theme_gutter-4}) * 5)) / 2);
  }

  &__bubble {
    &__full,
    &__half,
    &__empty {
      border-radius: 100%;
      height: $--theme_gutter-4;
      margin: $--theme_gutter-0;
      width: $--theme_gutter-4;
    }

    &__full {
      background-color: $--theme_color-4;
    }

    &__half {
      background: linear-gradient(to right, $--theme_color-4 0%, $--theme_color-4 50%, $--theme_color-1 50%, $--theme_color-1 100%);
    }

    &__empty {
      background-color: $--theme_color-1;
    }
  }
}
