<%- include('../margins/head.ejs'); -%>
<%- include('../margins/header.ejs'); -%>
<div class="content">
    <div class="content__inner">
        <h1>Index</h1>
    </div>
</div>
<%- include('../margins/footer.ejs'); -%>
<%- include('../margins/tail.ejs'); -%>