<footer class="footer">
    <div class="footer__inner">
        <div class="nav">
            <% pages.forEach(page => { %>
                <a class="nav__item" href="<%= page.href %>">
                    <p><%= page.name %></p>
                </a>
            <% }); %>
        </div>
        <div class="footer__links">
            <% socials.forEach(social => { %>
                <div class="icon__container">
                    <div class="icon">
                        <a class="icon__inner" href="<% social.href %>">
                            <%- include(social.svg) -%>
                        </a>
                    </div>
                </div>
            <% }); %>
        </div>
        <div class="copyright">
            <p class="copyright__inner">&copy; Mikolaj Cymcyk</p>
        </div>
    </div>
</footer>