<footer class="footer">
    <div class="footer__inner">
        <div class="footer__icons">
            <div class="icon__container">
                <div class="icon">
                    <a class="icon__inner" href="mailto:mikolaj.cymcyk@gmail.com">
                        <img class="icon__icon" src="./img/email_white.svg" alt="Email">
                    </a>
                </div>
            </div>
            <div class="icon__container">
                <div class="icon">
                    <a class="icon__inner" href="https://github.com/WhackingCheese/">
                        <img id="yeet" class="icon__icon" src="./img/github_white.svg" alt="GitHub">
                    </a>
                </div>
            </div>
            <div class="icon__container">
                <div class="icon">
                    <a class="icon__inner" href="https://www.linkedin.com/in/mikolaj-cymcyk-0a03aa211">
                        <img class="icon__icon" src="./img/linkedin_white.svg" alt="LinkedIn">
                    </a>
                </div>
            </div>
            <div class="icon__container">
                <div class="icon">
                    <a class="icon__inner" href="https://www.instagram.com/mikkicym/">
                        <img class="icon__icon" src="./img/instagram_white.svg" alt="Instagram">
                    </a>
                </div>
            </div>
        </div>
        <div class="copyright">
            <p class="copyright__inner">&copy; Mikolaj Cymcyk</p>
        </div>
    </div>
</footer>