<header class="header">
    <section class="header__nav">
        <div class="header__nav__home">
            <a class="header__nav__home__inner" href="/"><p>Mikolaj Cymcyk</p></a>
        </div>
        <div class="header__nav__pages">
            <a class="header__nav__pages__cv" href="/cv">
                <p>CV</p>
            </a>
            <span class="header__nav__seperator"></span>
            <a class="header__nav__pages__about" href="/about">
                <p>About</p>
            </a>
        </div>
    </section>
</header>