<header class="header">
    <section class="header__nav">
        <div class="header__nav__home">
            <a class="header__nav__home__inner" href="/"><p>Mikolaj Cymcyk</p></a>
        </div>
        <div class="header__nav__pages">
            <% for(var i = 0; i < locales.structure.length; i++) { %>
                <a class="header__nav__pages__page" href="<%= locales.structure[i].href %>">
                    <p><%= locales.structure[i].name[lang] %></p>
                </a>
                <% if (i+1 < locales.structure.length) { %>
                    <span class="header__nav__seperator"></span>
                <% } %>
            <% } %>
        </div>
    </section>
</header>
